@font-face {
  font-family: inter;
  src: url(fonts/Inter-VariableFont_slnt\,wght.ttf);
}
body {
  background-color: #141414;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
section {
  height: 550px;
  width: 350px;
  background-color: #1f1f1f;
  border-radius: 15px;
  display: flex;
  margin: auto;
}
#menu {
  height: 500px;
  width: 300px;
  margin: auto;
  display: grid;
  grid-template-rows: 33% 20% 47%;
}
img {
  border-radius: 100%;
  height: 100px;
  margin: auto;
}
p {
  font-family: inter;
  text-align: center;
  font-weight: bold;
}
#name {
  color: #ffffff;
  margin: 0;
  font-size: 20px;
}
#living {
  font-size: 12px;
  color: #c4f82a;
  margin: 5px;
}
#description {
  font-size: 10px;
  color: #ffffff;
  /* margin: 10px; */
}
#image {
  margin: auto;
}
#texts {
  margin: auto;
  display: grid;
}
#buttons {
  margin: auto;
  margin-bottom: 0px;
  width: 100%;
  display: grid;
  gap: 12px;
}
button {
  width: 100%;
  margin: auto;
  padding: 12px;
  font-family: inter;
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
  background-color: #333333;
  border-radius: 5px;
  border: 0px;
}
button:hover {
  color: #000000;
  animation: bgbtn 0.5s;
  animation-fill-mode: forwards;
}
@keyframes bgbtn {
  100% {
    background-color: #c4f82a;
  }
}
button:active {
  background-color: #425310;
}
